:root {
  --main-background: #e2d5b4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--main-background);
}

.header {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid grey;
}

.header__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 30px;
  margin-top: 20px;
  font-size: 0px;
  /* ??? иначе меняется высота */
  border-bottom: 2px solid grey;
}

.button__add,
.button__home {
  text-transform: uppercase;
  font-size: 12px;
  background: #e2d5b4;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.header__table-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 0 5px 10px;
  gap: 10px;
}

.header__table-title_img {
  flex-basis: 40%;
}

.header__table-title_description {
  flex-basis: 20%;
}

.header__table-title_approaches,
.header__table-title_repetitions {
  flex-basis: 15%;
}

.header__table-title_btn-group {
  flex-basis: 10%;
}

.main-list {
  display: flex;
  flex-direction: column;
}

.main-list-item {
  display: flex;
  justify-content: space-between;
  height: 150px;
  gap: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
}

.main-list-item__img_wrapper {
  position: relative;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-list-item__img_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.main-list-item__img_overlapped {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main-background);
  z-index: 1;
}

.main-list-item__img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.main-list-item:has(.main-list-item__btn.btn-edit.active) .main-list-item__img:hover {
  outline: 2px solid grey;
  outline-offset: 1px;
}

.main-list-item__description_wrapper {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  flex-grow: 0;
}

.main-list-item__description {
  display: block;
  text-align: center;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  border: none;
  resize: none;
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.main-list-item__approaches_wrapper,
.main-list-item__repetitions_wrapper {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  flex-grow: 0;
}

.main-list-item__approaches,
.main-list-item__repetitions {
  display: block;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background: inherit;
  font-family: inherit;
  font-size: 36px;
  width: 100%;
  overflow: hidden;
}

.main-list-item__description:focus-visible,
.main-list-item__approaches:focus-visible,
.main-list-item__repetitions:focus-visible {
  outline: none;
}

.main-list-item:has(.main-list-item__btn.btn-edit.active) .main-list-item__description_wrapper:hover,
.main-list-item:has(.main-list-item__btn.btn-edit.active) .main-list-item__approaches_wrapper:hover,
.main-list-item:has(.main-list-item__btn.btn-edit.active) .main-list-item__repetitions_wrapper:hover {
  border: 2px solid grey;
}

.main-list-item__btn-group {
  flex-basis: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
}

.main-list-item:has(.main-list-item__btn.btn-edit.active) 
.main-list-item__btn-group,
.main-list:not(:has(.main-list-item__btn.btn-edit.active)) 
.main-list-item:hover .main-list-item__btn-group {
  opacity: 1;
}

.main-list-item__btn {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.btn-edit {
  background-image: url("/src/svg/edit.svg");
}

.btn-edit.active {
  background-image: url("/src/svg/check-mark.svg");
}

.btn-delete {
  background-image: url("/src/svg/delete.svg");
}

.btn-delete.back {
  background-image: url("/src/svg/back-red.svg");
}

.btn-up {
  background-image: url("/src/svg/up.svg");
  display: none;
}

.btn-up.active {
  display: block;
}

.btn-down {
  background-image: url("/src/svg/down.svg");
  display: none;
}

.btn-down.active {
  display: block;
}

.file-container {
  width: 200px;
  height: 200px;
}

.preview-image {
  width: 200px;
  height: 200px;
}

.footer {
  height: 100px;
}