.dropdown-list {
  line-height: 0;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0px;
  text-transform: uppercase;
  font-size: 12px;
  background: #e2d5b4;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: line-height 0.5s , border-width 0.5s;
}

.dropdown-list.activity {
  line-height: 1.2;
  border: 2px solid grey;
}

.dropdown-list-item {
  padding: 0.348lh 10px;
}

.dropdown-list.activity .dropdown-list-item {
  padding: 0.348lh 10px;
}

.dropdown-list.activity .dropdown-list-item:nth-child(n+2) {
  border-top: 1px solid grey;
}