.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal {
  padding: 40px 40px;
  background-color: #e2d5b4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 5px;
}

.modal__button {
  background-color: inherit;
  text-transform: uppercase;
  font-size: 12px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}