body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  background: #e2d5b4;
}

.header {
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 10px;
  border-bottom: 2px solid grey;
}

.header__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin-top: 20px;
  font-size: 0px; /* ??? иначе меняется высота */
}

.button__choice-of-days_wrapper {
  position:relative;
}

.button__choice-of-days,
.button__login {
  text-transform: uppercase;
  font-size: 12px;
  background: #e2d5b4;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.main-list-item {
  display: flex;
  justify-content: space-between;
  height: 150px;
  gap: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
}

.item__name {
  flex-basis: 20%;
  align-self: center;
  flex-shrink: 0;
  font-size: 20px;
  text-align: center;
}

.item__list-img {
  flex-basis: 80%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.item__img-container {
  display: flex;
  align-items: center;
}

.item__img {
  width: 100%;
  max-height: 100%;
}

.footer {
  height: 100px;
}